altgraph==0.17
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.3
EbookLib==0.17.1
future==0.18.2
idna==3.2
importlib-metadata==4.6.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
Naked==0.1.31
pefile==2021.5.24
Pillow==8.3.1
pycryptodomex @ file:///C:/ci/pycryptodomex_1613765586867/work
pyinstaller==4.4
pyinstaller-hooks-contrib==2021.2
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
urllib3==1.26.6
wincertstore==0.2
zipp==3.5.0
